body {
    text-align: center;
}
h1 {
    text-align: center;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: col;
}

.hasborder {
    border: 1px solid #ccc;
}

.evenlyspaced {
    justify-content: space-around;
}